{% extends 'base.html' %}
{% block content %}

<main class="container">
  
    <div class="row g-5">
      <div class="col-md-8">
        <h1 class="pb-4 mb-4 fst-italic border-bottom">
          Persons' aesthetic
        </h1>
  
  
        <article class="blog-post">
            <p class="blog-post-meta">December 34, 3482 by Rapunzel</p>
            <div class="images text-center">
                <img class="abot-article img-fluid w-50 rounded mx-auto m-2" src="/static/images/blog/about1.jpg">
            </div>
            <p>
                Beauty has been a subject of discussion for a long time. However, the debate has climaxed in the twentieth and the twenty first century. 
                Although the word has been defined differently, it generally means qualities or sum of qualities that give pleasure to senses. That basically means that any quality or characteristics of an individual which is pleasurable can be defined as beauty. More often than not, beauty is linked to women’s characteristics.
                As a result, most women have become obsessed with it and they do all in their power not only to look attractive, but also beautiful. Since it has been mostly linked to outside characteristics, there are lots of beauty products in the market meant to improve the aesthetic value of women.
                
              <div class="images text-center">
                  <img class="aboгt-article img-fluid w-50 rounded mx-auto m-4" src="/static/images/blog/about2.jpg">
              </div>

                Sontag is one writer who has written on the issue of women and beauty in one of her essays ‘A woman’s Beauty: Put Down or Power Source?’ She discusses the plight of women in the contemporary society in relation to beauty.
                More specifically; Sontag discuses some sensitive issues concerning women and beauty. For instance, on the section of Put Down or Power Source, Sontag explores the responsibility of men on women’s obsession to beauty.
                In addition, the author still seeks to explain the extent women are responsible for the same. With that background in mind, this essay shall discuss the summary of Sontag’s essay and argue on the issue of responsibility of men and women towards women’s obsession on beauty.
                Although Sontag has generally spoken on beauty, there are numerous themes which have been discussed concerning the same. Sontag majors on explaining on the difference between intrinsic beauty and the outward appearance. The author points out that it is possible to find a beautiful woman walking in the streets but the same woman may lack some important characteristics that can add to her goodness. However, Sontag is not all against beauty especially in women.
            </p>
            
         </article>
  
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="/claim">Claim</a>
        </nav>
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">Beauty is</h4>
            <p class="mb-0">
              Beauty is commonly described as a feature of objects that makes these objects pleasurable to perceive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}