{% extends 'base.html' %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h2>
          Create new service
        </h2>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary" enctype="multipart/form-data">
          <div class="form-floating mb-3">
            <input type="text" name="title" class="form-control" id="floatingInput" placeholder="title">
            <label for="floatingInput">Title</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="description" class="form-control" id="floatingInput" placeholder="description">
            <label for="floatingInput">Description</label>
          </div>          
          <div class="form-floating mb-3">
            <input type="text" name="specialist" class="form-control" id="floatingInput" placeholder="specialist">
            <label for="floatingInput">Specialist</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="price" class="form-control" id="floatingInput" placeholder="price">
            <label for="floatingInput">Price</label>
          </div>
          <div class="form-group">
              <label for="image">Select an image:</label>
              <input type="file" name="image" id="image" accept="image/*" required>
          </div>        
         
          <button class="w-100 btn btn-lg btn-primary" type="submit">Publish</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}