<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Salon Registration</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../static/images/auth.jpg">
        </div>
        <div class="form-container">
            <h1>Login to your account</h1>
            <p>We were waiting for you!</p>
            <form action="/auth" method="POST">
                <div class="input-group">
                    <label class="input-label" for="email">Your email address*</label>
                    <input class="input-field" type="email" name="email" placeholder="Email / Username" required="">
                </div>
                <div class="input-group">
                    <label class="input-label" for="password">Your password*</label>
                    <input class="input-field" type="password" name="password" placeholder="Password" required="">
                </div>
                <button class="button" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
