{% extends 'base.html' %}
{% block content %}

<div class="about-company ui-container" data-v-0d07a49a=""><div class="main-statistics about-page__block" data-v-0d07a49a=""><h2 class="main-statistics__title h-new h-new--3">
    Why our salon?
    </h2> <ul class="main-statistics__list">
        <li class="main-statistics__item"><b class="main-statistics__header h-new h-new--4">
            №1

            <div class="ui-tooltip-fb main-statistics__tooltip">
                <button type="button" aria-label="Показать тултип" class="ui-tooltip-fb__button ui-tooltip-fb__button--default f f--14">
                    <svg width="16" height="16" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="ui-tooltip-fb__icon icon sprite-icons">
                        <use href="/_nuxt/6ef17dd70f6d4946f6c3f173c749500a.svg#i-ui-tooltip" xlink:href="/_nuxt/6ef17dd70f6d4946f6c3f173c749500a.svg#i-ui-tooltip">
                            </use></svg></button> 
                            <div class="ui-tooltip-popover ui-tooltip-fb__popover ui-tooltip-popover--top" style="visibility:hidden;">
                                <div class="ui-tooltip-content__wrapper ui-tooltip-content__wrapper--desktop ui-shadow-10pt ui-tooltip-content__wrapper--center"><!----> 
                                    <div class="ui-tooltip-content__content"><!----> 
                                        <p class="ui-tooltip-content__text f f--14">Wake&nbsp;is №1 Lapdandia ranked by beauty queens!&nbsp;</p> 
                                        <button type="button" class="ui-tooltip-popover__button ui-button ui-button--filled-main ui-button--small" style="display: none;"><!----> 
        <!----></button></div></div></div></div></b> 
            <p class="main-statistics__text p p--2">to create beauty in your life and on your body</p>
        </li>
        <li class="main-statistics__item">
            <b class="main-statistics__header h-new h-new--4">
                <p>{{ count }}</p><!----></b> 
                <p class="main-statistics__text p p--2">cool specialists in our salon</p>
        </li>

{% endblock %}