{% extends 'base.html' %}
{% block content %}

<main class="container">
  
    <div class="row g-5">
      <div class="col-md-8">
        <h1 class="pb-4 mb-4 fst-italic border-bottom">
          {{ser.title}}
        </h1>
  
  
        <article class="blog-post">
            <div class="images text-center mb-3">
                <img class="abot-article img-fluid w-50 rounded mx-auto m-2" src="/static/images/services/main.jpg">
            </div>
            <p>
              {{ ser.description }}
            </p>
            <h4 class="mb-3">The best master - {{ ser.specialist }}</h4>
            <h5 class="mb-3">Price {{ ser.price }} $</h5>
            
         </article>
  
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="{{ url_for ('claim')}}">Claim</a>
        </nav>
  
      </div>
  

    </div>
  </main>

{% endblock %}