<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h2>
          Sign up
        </h2>
        <p class="col-lg-10 fs-4">"You are beautiful because of the light you carry inside you. You are beautiful because you say you are, and you hold yourself that way."
           </p>
           <p><em> ― Mary Lambert</em></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        {% for category, message in  get_flashed_messages(with_categories=true) %}
            {% if category=="error" %}
                <div class="success flash" style="font-size: 15px;">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="POST">
          <div class="form-floating mb-3">
                <input type="name" name="name" class="form-control" id="floatingInput" placeholder="Beauty Queen">
                <label for="floatingInput">Yur name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name='password' class="form-control" id="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Never forget me
            </label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-body-secondary">By clicking Sign up, you agree to become the most beautiful person in the Universe</small>
        </form>
      </div>
    </div>
  </div>
