{% extends 'base.html' %}
{% block content %}

<main class="container">
  <div class="row">
    {% for specialist in specialist %}
      <div class="col-12 col-lg-4">
          <ul>
            <div class="card card-cover h-80 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{{specialist.image}}');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ specialist.name }}</h2>
                  <h4> {{ specialist.position }}</h4>
                  <h5> {{ specialist.services_id }} </h5>
              </div>
            </div>
          </ul>
        </a>
      </div>
    {% endfor %}
  </div>
</main>

{% endblock %}